@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, .3) !important;
    z-index: 999;
}

.nav__logo {
    margin-right: .6rem;
    width: auto;
    height: 100%;
    max-height: 2rem;
}

.carousel-item img{
    object-fit: cover;
    object-position: center 10%;
    height: 100vh;
}

.text__justify {
    line-height: 1.8rem;
    text-align: justify;
    font-weight: 300;
}

.card-body, .card img {
    transition: all ease-in-out .3s;
}

.card:hover .card-body {
    background-color: rgba(0, 153, 221, .8)!important;
}

.card:hover img {
    opacity: .9 !important;
}

.footer__container {
    height: 8rem;
}

.footer__container a  {
    color: white;
    transition: all ease-in-out .3s;
}

.footer__container a:hover {
    opacity: .8;
}

.footer__title {
    letter-spacing: 2px;
}

@media (max-width: 576px) {
    .carousel-item img {
        object-position: center 10%;
        height: 70vh;
    }

    .footer__container {
        flex-direction: column;
        padding: 1.5rem;
    }

    .footer__container i {
        font-size: 2rem;
    }

    .contactame {
        padding: 0 .8rem;
    }

    #destacados {
        padding: 0 1rem;
    }
}